h1{
    border: none;
    background-color: var(--backGround);
    padding: 1rem;
    margin: 0;
    color: whitesmoke;
    border-radius: 0.3rem 0.3rem 0 0;
}
h2{
    padding: 1rem;
    text-align: left;
    max-width: 25rem;
    margin: 0 auto;
}

label{
    padding: 1rem;
}

label,label>input, form>button{
    cursor: pointer;
}

form{
    width: 40%;
    min-width: 25rem;
    max-width: 50em;
    margin: 0 auto;
}

form>input{
    padding: 0.5rem;
}

#option, #optAccount{
    display: flex;
    flex-direction: row;
    text-align: center;
}
#option>label{
    background-color: var(--btnHover);
    
}
#optAccount>label{
    background-color: var(--btnPrimary);
    padding: 0.3rem;

}
#optAccount>label:first-of-type{
    border-radius: 5rem 0 0 5rem;
}
#optAccount>label:last-of-type{
    border-radius: 0 5rem 5rem 0;
}
#option>label, #optAccount>label{
    width: 50%;
    border: 0.01rem solid gray;
    box-shadow: var(--contHovShadown);
}

#option>label:hover, #optAccount>label:hover{
    box-shadow: var(--contentShadown);
}

#option>label>input, #optAccount>label>input{
    display: none;
}

#content{
    font-weight: bold;
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    max-width: 30rem;
    margin: 0 auto;
}
#bankForm{
    display: flex;
    flex-direction: row;
}
#bankForm>label{
    padding: 00.5rem;
    font-size: 0.8rem;
    background-color: lightgrey;
    box-shadow: var(--contHovShadown);
    font-weight: bold;
}
#bankForm>label:hover{
    background-color: gray;
    box-shadow: 0 0.1rem 0.1rem gray;
}
#bankForm>div{
    display: flex;
    flex-direction: row;
    width: 65%;
}
#bankForm>div>input{
    max-width: 230%;
    min-width: 7rem;
    text-align: right;
    font-size: 1.5rem;
}
#bankForm>div>button{
    width: 6.5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 0 5rem 5rem 0;
    background-color: var(--backGround);
    color: whitesmoke;
}
#bankForm>div>button:hover{
    background-color: yellowgreen;
    color: black;
}
#bankForm>div>button:focus{
    outline: none;
}